# Ignore Python virtual environment
#sample changes for pulling
env/
cert.pem
key.pem
requirements_2.txt
notes.txt
api_model.txt
db.sqlite3
index.html

# CODES:
# python3 -m venv env
# source env/bin/activate
# pip install -r requirements.txt
# deactivate

#TO INSTALL
# pip --version
# python -m ensurepip --upgrade
# django-admin --version
# pip install djangorestframework
# pip install djangorestframework-simplejwt
# pip install django-cors-headers
# 
# python manage.py migrate 
# python3 manage.py runserver